<h1  align="center">CIDM6351-Lecture6: Homework6 (10 points)</h1>

* **Save a copy to your Google Drive and to answer on your copy**
* **Submit the share link of your JupyterNotebook to WTClass**
* Please follow the instruction in 'Student Guides' folder if you didn't how to submit the share link to WTClass.

## Following the instructions to manipulate DataFrames

In [2]:
# csv file for this homework.
csv_file = 'https://raw.githubusercontent.com/czwtamu/CIDM6351/main/movies.csv'

Sample record in CSV file:
```
5e93eff5d8aa005a58574ff4,"New Year's Eve",Romance,Warner Bros.,48,2.536428571,8,$142.04 ,2011
```

## Q1 (1 point): read the CSV file into pandas DataFrame and show first 5 rows

In [3]:
# ------Put your answer below this line-----
import pandas as pd
df = pd.read_csv(csv_file)
df.head()

,_id,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,5e93eff5d8aa005a58574fde,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
1,5e93eff5d8aa005a58574ff0,One Day,Romance,Independent,54,3.682733,37,$55.24,2011
2,5e93eff5d8aa005a58575005,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
3,5e93eff5d8aa005a5857500d,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
4,5e93eff5d8aa005a58574fdf,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009

In [5]:

# sample output

### Q2 (1 points) drop the "_id" column and show first 5 rows

In [6]:
# ------Put your answer below this line-----
df.drop('_id',axis=1).head(2)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
1,One Day,Romance,Independent,54,3.682733,37,$55.24,2011

In [ ]:
# sample output

                     Film    Genre  ... Worldwide Gross  Year
0            The Proposal   Comedy  ...        $314.70   2009
1                 One Day  Romance  ...         $55.24   2011
2                 Killers   Action  ...         $93.40   2010
3      Going the Distance   Comedy  ...         $42.05   2010
4  The Invention of Lying   Comedy  ...         $32.40   2009

[5 rows x 8 columns]

## Q3 (1 point) Count how many movies are produced in each year

In [8]:
# ------Put your answer below this line-----
df.groupby("Year")["Film"].count()

Year
2007    11
2008    20
2009    11
2010    20
2011    14
Name: Film, dtype: int64

In [ ]:
# sample output

Year
2007    11
2008    20
2009    11
2010    20
2011    14
Name: Year, dtype: int64

## Q4 (2 point) using ```.loc()``` method to filter all movies produced after ```2007``` and slice a sub-dataset that contains following 4 columns: 
```Lead Studio,	Audience score %,	Profitability, Year```

In [10]:
# ------Put your answer below this line-----
condition = df['Year'] > 2007
column_names = ['Lead Studio','Audience score %','Profitability','Year']
df1 = df.loc[condition,column_names]
df1

     Lead Studio  Audience score %  Profitability  Year
0         Disney                74       7.867500  2009
1    Independent                54       3.682733  2011
2      Lionsgate                45       1.245333  2010
3   Warner Bros.                56       1.314062  2010
4   Warner Bros.                47       1.751351  2009
..           ...               ...            ...   ...
71   Independent                51      66.934000  2008
72        Disney                52       5.387972  2011
73  Warner Bros.                52       2.022925  2008
74     Universal                64       4.382857  2009
75   Independent                89       0.448645  2011

[65 rows x 4 columns]

In [ ]:
# sample output

     Lead Studio  Audience score %  Profitability  Year
0         Disney                74       7.867500  2009
1    Independent                54       3.682733  2011
2      Lionsgate                45       1.245333  2010
3   Warner Bros.                56       1.314062  2010
4   Warner Bros.                47       1.751351  2009
..           ...               ...            ...   ...
71   Independent                51      66.934000  2008
72        Disney                52       5.387972  2011
73  Warner Bros.                52       2.022925  2008
74     Universal                64       4.382857  2009
75   Independent                89       0.448645  2011

[65 rows x 4 columns]

## Q5 (2 points) Based on last step, show the ```max``` Audience score for each Studio on each year

In [13]:
# ------Put your answer below this line-----
df1.groupby(['Lead Studio','Year'])['Audience score %'].max()

Lead Studio            Year
20th Century Fox       2011    72
CBS                    2010    47
Disney                 2008    89
                       2009    74
                       2010    88
                       2011    52
Fox                    2008    77
                       2010    58
Independent            2008    70
                       2009    68
                       2010    62
                       2011    89
Lionsgate              2010    45
New Line               2008    47
Paramount              2008    68
                       2009    65
                       2010    60
Sony                   2008    67
                       2010    66
                       2011    84
Summit                 2008    82
                       2009    78
                       2010    70
The Weinstein Company  2008    70
                       2010    52
                       2011    84
Universal              2008    76
                       2009    64
                       2010    49
                       2011    77
Warner Bros.           2008    81
                       2009    60
                       2010    56
                       2011    48
Name: Audience score %, dtype: int64

In [ ]:
# sample output

Lead Studio            Year
20th Century Fox       2011    72
CBS                    2010    47
Disney                 2008    89
                       2009    74
                       2010    88
                       2011    52
Fox                    2008    77
                       2010    58
Independent            2008    70
                       2009    68
                       2010    62
                       2011    89
Lionsgate              2010    45
New Line               2008    47
Paramount              2008    68
                       2009    65
                       2010    60
Sony                   2008    67
                       2010    66
                       2011    84
Summit                 2008    82
                       2009    78
                       2010    70
The Weinstein Company  2008    70
                       2010    52
                       2011    84
Universal              2008    76
                       2009    64
                       2010    49
                       2011    77
Warner Bros.           2008    81
                       2009    60
                       2010    56
                       2011    48
Name: Audience score %, dtype: int64

### Q6 (3 point)  Groupby with ```sudio name``` and ```year```, then calculate:
- mean for Audience score
- min and max for Profitability

Rename the result to AudiMean, ProfMax, ProfMin

In [15]:
# ------Put your answer below this line-----
agg_result = df1.groupby(['Lead Studio','Year']).agg(
    {
        'Audience score %':'mean',
        'Profitability':['max','min']
    }
)
agg_result

                           Audience score % Profitability
                                       mean           max        min
Lead Studio           Year
20th Century Fox      2011        61.000000      3.081421   1.983200
CBS                   2010        47.000000      2.202571   2.202571
Disney                2008        82.500000     22.913136   2.896019
                      2009        74.000000      7.867500   7.867500
                      2010        66.000000      1.365692   0.000000
                      2011        52.000000      5.387972   5.387972
Fox                   2008        73.333333      6.267647   3.746782
                      2010        56.500000      1.817667   1.797417
Independent           2008        60.666667     66.934000   0.252895
                      2009        67.000000      5.402632   2.140000
                      2010        50.750000      2.530526   0.000000
                      2011        65.333333      6.383364   0.005000
Lionsgate             2010        45.000000      1.245333   1.245333
New Line              2008        47.000000      2.071000   2.071000
Paramount             2008        68.000000      3.207850   3.207850
                      2009        65.000000      2.598205   2.598205
                      2010        60.000000      2.440500   2.440500
Sony                  2008        64.000000      3.352729   2.649068
                      2010        66.000000      4.598800   4.598800
                      2011        84.000000      8.744706   8.744706
Summit                2008        78.000000     10.180027   1.382800
                      2009        78.000000     14.196400  14.196400
                      2010        66.000000      3.491250   2.639333
The Weinstein Company 2008        70.000000      1.747542   1.747542
                      2010        52.000000      1.090000   1.090000
                      2011        84.000000      0.825800   0.825800
Universal             2008        76.000000      9.234454   9.234454
                      2009        55.666667      4.382857   2.004444
                      2010        49.000000      1.715263   1.715263
                      2011        77.000000      0.000000   0.000000
Warner Bros.          2008        71.333333      7.221796   1.783944
                      2009        51.333333      7.153600   1.751351
                      2010        52.000000      4.184038   1.314062
                      2011        48.000000      2.536429   2.536429

In [ ]:
# sample output

                             AudiMean    ProfMax    ProfMin
Lead Studio           Year
20th Century Fox      2011  61.000000   3.081421   1.983200
CBS                   2010  47.000000   2.202571   2.202571
Disney                2008  82.500000  22.913136   2.896019
                      2009  74.000000   7.867500   7.867500
                      2010  66.000000   1.365692   0.000000
                      2011  52.000000   5.387972   5.387972
Fox                   2008  73.333333   6.267647   3.746782
                      2010  56.500000   1.817667   1.797417
Independent           2008  60.666667  66.934000   0.252895
                      2009  67.000000   5.402632   2.140000
                      2010  50.750000   2.530526   0.000000
                      2011  65.333333   6.383364   0.005000
Lionsgate             2010  45.000000   1.245333   1.245333
New Line              2008  47.000000   2.071000   2.071000
Paramount             2008  68.000000   3.207850   3.207850
                      2009  65.000000   2.598205   2.598205
                      2010  60.000000   2.440500   2.440500
Sony                  2008  64.000000   3.352729   2.649068
                      2010  66.000000   4.598800   4.598800
                      2011  84.000000   8.744706   8.744706
Summit                2008  78.000000  10.180027   1.382800
                      2009  78.000000  14.196400  14.196400
                      2010  66.000000   3.491250   2.639333
The Weinstein Company 2008  70.000000   1.747542   1.747542
                      2010  52.000000   1.090000   1.090000
                      2011  84.000000   0.825800   0.825800
Universal             2008  76.000000   9.234454   9.234454
                      2009  55.666667   4.382857   2.004444
                      2010  49.000000   1.715263   1.715263
                      2011  77.000000   0.000000   0.000000
Warner Bros.          2008  71.333333   7.221796   1.783944
                      2009  51.333333   7.153600   1.751351
                      2010  52.000000   4.184038   1.314062
                      2011  48.000000   2.536429   2.536429